/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

@media only screen and (min-width: 1200px) {

}

.projectLogo {
    justify-content: center !important;
    position: static !important;
    padding: 0 !important;
    display: block !important;
}

.projectLogo img {
    max-height: 175px !important;
}

.mainContainer .paddingTop {
    padding-top: 0px !important;
}

a {
    color: #337dd7;
}
